{% extends 'base.html.twig' %}

{% block body %}
	{{ parent() }}
       

<div class="container">
    <div class="container col-md-8"><h3 ><strong >TELEFONOS SEDE PROVINCIAL</strong></h3>
    
    
   
    
    </div> <div class="btn-group col-md-3">
  <button type="button" class="btn btn-primary " >Seleccione la Fiscalia Municipal</button>
  <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
 
    <li><a href="{{ path('directorio_lisa') }}">Lisa</a></li>
    <li><a href="{{ path('directorio_regla') }}">Regla</a></li>
    <li><a href="{{ path('directorio_guanabacoa') }}">Guanabacoa</a></li>
    
    <li><a href="{{ path('directorio_divico') }}">Divico</a></li>
    <li><a href="{{ path('directorio_hv') }}">Habana Vieja</a></li>
    <li><a href="{{ path('directorio_centrohabana') }}">Centro Habana</a></li>
    <li><a href="{{ path('directorio_cotorro') }}">Cotorro</a></li>
    
    <li><a href="{{ path('directorio_marianao') }}">Marianao</a></li>
    <li><a href="{{ path('directorio_boyeros') }}">Boyeros</a></li>
    
    
    <li><a href="{{ path('directorio_arroyo') }}">Arroyo Naranjo</a></li>
    <li><a href="{{ path('directorio_sanmiguel') }}">San Miguel del Padron</a></li>
    <li><a href="{{ path('directorio_cerro') }}">Cerro</a></li>
    
    <li><a href="#{{ path('directorio_10octubre') }}">10 de Octubre</a></li>
    <li><a href="{{ path('directorio_heste') }}">Habana del Este</a></li>
    <li><a href="#">Playa</a></li>
    
    <li><a href="{{ path('directorio_plaza') }}">Plaza</a></li>




  </ul>

  
</div>
    

    <div class="col-md-12">
 <span class="zoom" id="ex1" style="position: relative; overflow: hidden;">
 
     <img src="{{ asset('public/css/provincia.jpg') }}" alt="Daisy on the Ohoopee" width="300" class="img-responsive img-rounded">
  </div>
 

</div><div class="container"><center><h4>Direccion: 25 esquina F,Vedado.</h4></center></div>

<div class="panel-heading" > <table class="table table-striped table-hover table-condensed"> 
                
               
<tr> <td><center>Fiscal Jefe Municipal</center></td> <td ><center>836-52-81•
 830-66-97
</center></td></center><td><center>106•102•104</center></td> <td><center></center></td>
<tr> <td><center>Vicefiscal Jefe Provincial Martha Vazquez Villar</center></td> <td ><center>831-24-66</center></td></center><td><center>105</center></td> <td><center></center></td>
			                 
				               
                </tr> 

<tr> <td><center>Vicefiscal Jefe Provincial Jose Luis Reyes Blanco </center></td> <td ><center>830-17-76</center></td></center><td><center>103</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                <tr> <td><center>Fiscal Jefe Secretaría </center></td> <td ><center></center></td></center><td><center>109•110•114</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                
                 <tr> <td><center>Departamento de PP</center></td> <td ><center>836-40-19</center></td></center><td><center>137•138•140•146</center></td> <td><center></center></td>
			                 
				               
                </tr> 

                
                 <tr> <td><center>Departamento de VF</center></td> <td ><center>831-24-74•
7836-4021
</center></td></center><td><center>133•134•135</center></td> <td><center></center></td>
			                 
				               
                </tr> 

     <tr> <td><center>Departamento de CLEP</center></td> <td ><center>836-40-24</center></td></center><td><center>128•145</center></td> <td><center></center></td>
			                 
				               
                </tr> 

                
                 <tr> <td><center>Departamento de AC</center></td> <td ><center>830-35-36•
833-85-11
</center></td></center><td><center>123•124•125•126•129•150</center></td> <td><center></center></td>
			                 
				               
                </tr> 

                <tr> <td><center>Departamento de PFAJ</center></td> <td ><center>831-25-12
</center></td></center><td><center>127•126</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                
                 <tr> <td><center>Departamento de Cuadros</center></td> <td ><center>836-40-17
</center></td></center><td><center>113•115</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                    <tr> <td><center>Departamento de DOP</center></td> <td ><center>836-40-20
</center></td></center><td><center>107•112</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                
                  <tr> <td><center>Departamento de DIA</center></td> <td ><center>
</center></td></center><td><center>111</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
  <tr> <td><center>Departamento de AJ</center></td> <td ><center>
</center></td></center><td><center>136</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                
                 <tr> <td><center>Departamento de DIC</center></td> <td ><center>833-77-29
</center></td></center><td><center>142•147</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                 <tr> <td><center>Departamento de Admon</center></td> <td ><center>836-52-81
</center></td></center><td><center>130•131•143</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                
                 <tr> <td><center>Departamento de RRHH</center></td> <td ><center>836-52-81
</center></td></center><td><center>120•121</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                
                  <tr> <td><center>Departamento Contabilidad</center></td> <td ><center>835-29-23
</center></td></center><td><center>117•118•122</center></td> <td><center></center></td>
			                 
				               
                </tr> 
                
                
                
</table></div>















<!-- /.row --><br><br><br><br><br><br><br></section>



<footer><div class="container"><h6>Fiscalia Provincial de la Republica</h6></div></footer>


{% endblock %}


{% block javascripts %}
             
          {{ parent() }}
    
         
         
           
           <script>
           if ($ && $.fn.zoom) {
    $('#ex1').zoom();
    $('#ex2').zoom({ on:'grab' });
  }
                </script>
             
               
               
               
   
   {% endblock %}